@use "center.scss"as center;
@import "normalize.css";

:root {
  font-size: 10px;
}

html,
body {
  @include center.flexCenter;
  width: 100vw;
  height: 100vh;

}

#app {
  @include center.flexCenter;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

#user_info {
  @include center.flexCenter;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  left: -15rem;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  border: 1px solid black;
  z-index: 999;

  :nth-child(5) {
    position: absolute;
    left: 13.5rem;
    bottom: 6.5rem;
  }
}

div input {
  border: none;
  border-radius: 4px;
  height: 1.5rem;
}

#user_submit {
  width: 100%;
  align-self: center;
  margin: 1rem 0 0.5rem 0;
}

#userInfo {
  @include center.flexCenter;
  position: relative;
  width: 50rem;
  height: 20rem;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: #A6E3E9;
}

#table {
  @include center.flexCenter;
  width: 100%;
  height: 100%;
  position: relative;

}

#header {
  @include center.flexCenter;
  display: block;
  position: relative;
  position: absolute;
  display: flex;
  width: 30rem;
  height: 20rem;
  right: 1rem;

  #name_info,
  #age_info,
  #income_info {
    display: block;
    position: relative;
    display: flex;
    bottom: 15rem;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #71C9CE;
    z-index: 99;
  }

  #name_info {
    position: absolute;
    padding: 0.5rem 2rem;
    right:20rem;
  }

  #age_info {
    position: absolute;
    padding: 0.5rem 2rem;
    left: 12rem;
  }

  #income_info {
    right: 1rem;
    position: absolute;
    padding: 0.5rem 1rem;
  }

  #name_Cell,
  #age_Cell,
  #income_Cell {
    @include center.flexCenter;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    width: 27rem;
    height: 3rem;
    border-radius: 5px;
    background-color:#CBF1F5;

  }

  #name_Cell {
    position: absolute;
    bottom: 10rem;
    left: 1.6rem;
    @include center.flexCenter;
    border: 1px solid black;
  }

  #age_Cell {
    position: absolute;
    top: 10.8rem;
    right: 1rem;
    @include center.flexCenter;
    border: 1px solid black;
  }

  #income_Cell {
    position: absolute;
    top: 15rem;
    left:1.5rem;
    @include center.flexCenter;
    border: 1px solid black;
  }

}