@use "center.scss"as center;
@import "normalize.css";

:root {
  font-size: 15px;
}

html,
body {
  @include center.flexCenter;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif
}

#app {
  @include center.flexCenter;
  width: 100%;
  height: 100%;
  position: absolute;

  input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 1px solid #555;
  }
}

#user_info {
  @include center.flexCenter;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 2rem;
  border: 1px solid #9e9c9c;
  right: 15rem;
  z-index: 9999;
  border-radius: 5px;

  :nth-child(5) {
    position: absolute;
    left: 14rem;
    bottom: 7rem;

  }
}

div input {
  border: none;
  border-radius: 4px;
  height: 1.5rem;
}

#user_submit {
  width: 100%;
  align-self: center;
  margin: 1rem 0 0.5rem 0;
  cursor: pointer;
  border-radius: 5px;
}


#tableDiv {
  @include center.flexCenter;
  width: 50rem;
  height: 20rem;
  position: absolute;
  border-radius: 5px;
  // border: 1px solid black;

  #table_header {
    border-collapse: collapse;
    position: absolute;
    width: 30rem;
    height: 10rem;
    left: 20rem;
    top: 2rem;
  }


  #table_header td,
  #table_header th {
    border: 1px solid #f9f6f6;
    padding: 7px;
  }

  #table_header tr:nth-child(even) {
  
    background-color: #f2f2f2;
  }

  #table_header tr:hover {
    background-color: #ddd;
  }

  #table_header th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #06AA6D;
    color: white;
 
  }

}
